@model PatriotVision.Models.Documents.DocumentsModel;
@{
    ViewData["Title"] = "Home Page";
}

@*<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleDark" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleDark" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="..." class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="..." class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleDark" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleDark" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>*@
<div class="container">
    @foreach (var item in Model.results)
    {
        <div class="row justify-content-center mb-1">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><a href="@item.html_url">@item.title</a></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Document Number: @item.document_number</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Publication Date: @item.publication_date</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Type: @item.type</h6>
                        <p class="card-text">@item._abstract</p>
                        @foreach (var agency in item.agencies)
                        {
                            <p>Agency: <a href="@agency.url">@agency.name</a></p>
                        }
                        <a href="@item.public_inspection_pdf_url" class="card-link">Public Inspection PDF</a>
                        <a href="@item.pdf_url" class="card-link">View PDF</a>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row justify-content-center">
        <div class="col-md-8 mx-auto">
            <h2><a href="@Model.next_page_url">@Model.next_page_url</a></h2>
        </div>
    </div>
</div>