@model PatriotVision.Models.Documents.DocumentsModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container no-search">
    <div class="row justify-content-center mb-1">
        <div class="col-md-6 mx-auto">
            @foreach (var item in Model.results)
            {

                <div class="card card-body">
                    <h5 class="card-title"><a href="@item.html_url">@item.title</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Document Number: @item.document_number</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Publication Date: @item.publication_date</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Type: @item.type</h6>
                    <p class="card-text">@item._abstract</p>
                    @foreach (var agency in item.agencies)
                    {
                        <p>Agency: <a href="@agency.url">@agency.name</a></p>
                    }
                    <p><a href="@item.public_inspection_pdf_url" class="card-link">Public Inspection PDF</a></p>
                    <p><a href="@item.pdf_url" class="card-link">View PDF</a></p>
                </div>

            }
        </div>
    </div>
    <div class="row col-8 mx-auto justify-content-center next-btn">
        <div class="col-sm-3 col-md-2">
            @{
                var newUrl = @Model.next_page_url.Substring(79);

                string[] pages = newUrl.Split("&");

                foreach (var pageNmb in pages)
                {
                    if (!pageNmb.Contains("per_page"))
                    {
                        int pageInt = int.Parse(pageNmb) - 1;
                        if (pageInt == 2)
                        {
                            <a class="d-flex justify-content-center btn btn-primary" href="/">Back</a>
                        }
                        else
                        {
                            var backPage = pageInt - 1;
                            <a class="d-flex justify-content-center btn btn-primary" href="/Home/NextPage?page=@backPage">Back</a>
                        }
                    }
                }
            }
        </div>
        <div class="col-sm-3 col-md-2">
            @{
                var newUrl2 = @Model.next_page_url.Substring(79);

                string[] pages2 = newUrl.Split("&");

                foreach (var pageNmb in pages2)
                {
                    if (!pageNmb.Contains("per_page"))
                    {

                        <a class="d-flex justify-content-center btn btn-primary" href="/Home/NextPage?page=@pageNmb">Next</a>

                    }
                }
            }
        </div>
    </div>
</div>